/*Generales*/

body, html {
    margin: 0px;
    height: 100%;

}

body {
    background-color: #171d25;
    font-family:  Quattrocento Sans,sans-serif,Verdana;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    color: #d1d1d1;
}

h3, h4, h5, h6, p { font-family: Quattrocento Sans,sans-serif }

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

a {
    outline: none;
    color: #969696 !important;
    cursor: pointer;
}

a:focus, a:hover {
    text-decoration: none !important;
    outline: none !important;
    color: white !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: transparent;
    color: white !important;
}
.navbar-default .navbar-nav > li > a {
    color: #d1d1d1;
}



    /* Barra de navegación */

.barra-navegacion {
    width: 100%;
    background: white;
}
.navbar-brand {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    color: white !important;
}
body nav.navbar {
    margin-bottom: 0 !important;
}
.navbar-links {
    font: 16px/1.4em "Quattrocento Sans", serif;
}
.navbar-default {
    background-color: #171d25;
    border: none;
}



/*
*   INICIO >
*/

    /*Carousel*/
.carousel,
.item {
    height: 767px;
}

.carousel {
    margin-top: 50px;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: #202020 !important;
}



    /* Cuadrado Juanjo Arrojo Fotógrafo */
.juanjoArrojo {
    height: 206px;
    left: 1230px;
    position: absolute;
    top: 12px;
    width: 237px;
}
.juanjo-fondo {
    background-color: rgba(255, 255, 255, 1);
    border: 0 solid rgba(48, 45, 45, 1);
    border-radius: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.juanjo-fondo::after {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(129, 129, 129, 1);
    border-radius: 0;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
.juanjo-cuadro {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.juanjo-contenido {
    left: 37px;
    position: absolute;
    width: 163px;
    top: 35px;
}
div h1.font_0 {
    font-family: 'Tangerine', serif !important;
    font-size: 39px;
    color: #302d2d !important;
    margin: 0;
}
h1.font_0 , h2.font_2 {
    letter-spacing:0.3em;
    color: rgba(129, 129, 129, 1);
    text-align: center;
}
h1.font_0 a {
    color: #202020;
}
h1.font_0 a:hover {
    color: black !important;
}
h2.font_2 span a {
    color: rgba(129, 129, 129, 1) !important;
    font: italic 20px/1.4em "Eb Garamond",serif;
}
h2.font_2 {
    margin-top: 25px !important;
}



    /* Presentación */
.contenido {
    margin-bottom: 8px;
    height: 250px;
}
.presentacion-contenido p {
    font-family: Quattrocento Sans,serif;
    font-size: 16px;
    text-align: center !important;
}
.presentacion-contenido {
  text-align: center;
    margin-top: 50px;
    padding: 0 200px;
    width: 100%;

}



/*
*   BIOGRAFÍA >
*/

.biografia-container {
    position: absolute;
}
.biografia-titulo {
    padding: 10px 10px 30px;
    color: lightgrey !important;
    font-weight: 600;
    font-size: 40px;
}
.biografia h3 {
    color: #fafafa !important;
    font-family: "open sans condensed",serif !important;
    margin: 0 !important;
}
.biografia-contenido {
    line-height: 18pt;
    margin-top: 70px;
}
.biografia-contenido h5 {
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.biografia-contenido p {

    font-size: 17px;
}
.borde-top {
    border-top: 1px solid grey;
    margin-top: 8px;
    width: 100%;
}
.imagen-biografia {
    margin-top: 179px;
}



/*
*   GALERÍA >
*/

.prueba-miniatura {
    background: url('https://placeimg.com/650/300/any') ;
    height: 340px;
    background-size: cover;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    border: 5px solid transparent;
    cursor: pointer;
}
.thumbnail {
    padding: 0 !important;
    border: none;
}
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    animation-timing-function: linear;
}
.galeria-container {
    margin: 70px 60px 0;
}
.galeria-categoria {
    margin-top: 70px;
    padding: 50px;
}
.separador {
    height: 390px;
}

.categoria-cuadro {
    height: 310px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    width: 310px;
}
.categoria-animales {
    background: url('../images/gatos.jpeg');
}
.categoria-paisajes {
    background: url('../images/paisajes.jpg');
}
.categoria-deportes {
    background: url('../images/snowboard.jpg');
}
.categoria-detalle {
    background: url('../images/macro.jpg');
}
.categoria-gente {
    background: url('../images/gente.jpg');
}
.categoria-bosque {
    background: url('../images/forest.jpg');
}
.categoria-sombra {
    background: rgba(0, 0, 0, 0.2);
    z-index: 900;
    height: 100%;
    width: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.texto-sobrefoto {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 20px;
    color: white;
    text-transform: lowercase;
    text-align: center;
    position: absolute;
    bottom: 100px;
    width: 30%;
    background: rgba(0, 0, 0, 0.6);
}
.galeria-descripcion {
    text-align: center;
    padding: 0 200px;
}
.icono-galeria {
    color: white;
    opacity: 0.5;
    font-size: 70px;
    padding: 10px;
}
.mi-thumbnail {
    display: block;
    height: 100%;
}



/*
*   CLIENTES
*/

.clientes-container {
    text-align: center;
    height: 410px;
    margin-top: 20px;
}
.clientes-grupo {
    margin-top: 50px;
}
.clientes-container p {
    margin: 15px;
    font-size: 16px;
    padding: 0 20px;
}
.clientes-container h5 {
    font-size: 30px;
}
.imagen-clientes {
    margin-top: 70px;
}
.lista-clientes {
    text-transform: uppercase;
    text-align: center;
}
.lista-clientes h3 {
    text-transform: uppercase;
    font-size: 50px;
    margin: 40px;
}
.lista {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 24px;
}
.enlace-cliente {
    margin-top: 4px;
}



/*
*   CONTACTO >
*/

.contacto-container {

}
.imagen-mapa-contacto {
    width: 300px;
    height: 300px;
    -webkit-border-radius: 200px !important;
    -moz-border-radius: 200px !important;
    border-radius: 200px !important;
    margin: 70px 100px;
}
.contenido-contacto {
    font-family: Quattrocento Sans,serif;
    margin-left: 126px;
    text-align: center;
    margin-top: 75px;
}
.titulo-contacto {
    font-family: Quattrocento Sans,serif;
    margin-top: 100px;
    margin-left: 80px;
}
.titulo-contacto h3 {
    text-transform: uppercase;
    margin: 0 0 50px 0;
}
.titulo-contacto p {
    margin-top: 30px;
}
.imagen-contacto {
    margin-top: 100px;
}
.contacto-nav {
    margin-right: 10px;
}
textarea {
    resize: vertical;
}
.btn {
    color: #565656;
}
.telefono-email {
    display: inline-flex;
}




/*
*   MEDIA QUERYS >
*/
@media (max-width:1200px) {
    .presentacion-contenido {
        padding: 0 100px;
    }
    .contenido-contacto {
        margin-left: 0;
    }
    .titulo-contacto {
        margin-left: 0;
    }
    .galeria-container{
        margin: 0;
    }
}

@media (max-width:600px) {
    /* Presentacion */
        .presentacion-contenido {
            padding: 0 10px;
        }

    /* Clientes */
        .clientes-container p {
            padding: 0;
        }

    /* Galeria */
        .categoria-cuadro {
            height: 60px;
        }
        .galeria-descripcion {
            padding: 12px;
        }
        .texto-sobrefoto {
            width: 60%;
            bottom: 20px;
        }
    /* Contacto */
        .titulo-contacto {
            margin-left: 0 !important;
        }

}